<!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
      <title>注册</title>
      <link rel="stylesheet" href="__PUBLIC__/css/register.css">
      <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
  </head>
  <body>
      <div class="all">
          <div class="header">
              <div class="logo"></div>
              <div class="login">已有账号<a href="">马上登陆</a></div>
          </div>
          <div  class="namedText">
              <div>命名规范</div>
              <ul>
                <li>
                  章鱼先生用户名称具有唯一性，不可重复性，一经设置后不可更改。用户名称最长20个字符，中英文不限。用户名称应体现个人属性，避免选用官方化、敏感时政词汇、营销类等词语。
                </li>
                <li>
                  章鱼先生用户名称中含有以下内容的，将不予通过：
                </li>
                <li>
                  1.使用特殊符号、空格、火星文或无意义的文字组合。
                </li>
                <li>
                  2.色情、反动、血腥、暴力及上级主管机关明令禁止等政治敏感词汇；
                </li>
                <li>
                  3.不雅词或带有民族歧视性质的内容；
                </li>
                <li>
                  4.侵权，具有夸大性、广告性和误导性的内容；
                </li>
                <li>
                  5.明显的代购、营销倾销类词汇
                </li>
                <li>
                  6.含有QQ、微信、微博、网址、邮箱、手机号等联系信息；
                </li>
                <li>
                  7.冒用他人、社会公众人物、明星、其他企业及组织名号等；
                </li>
                <li>
                  8.易被理解为章鱼先生官方性质的名称，如“章鱼先生”“乐享”“乐享智能”等；
                </li>
                <li>
                  9.单独以省份、城市名作为名称，如中国、广东、广州等；
                </li>
                <li>
                  10.国家机关所在地、特定地点的名称或者标志性建筑物的名称；
                </li>
                <li>
                  11.政府官方性质词汇，包含但不限于发布、平安、文明、清风；
                </li>
                <li>
                  若注册主体为个人，用户名称中含有以下内容，也将不予通过：
                </li>
                <li>
                  1）使用企业、机构、社团组织名称，如：公司、集团、旗舰店、商城、XX网、新闻、工作室、论坛、百科、频道 、集团、娱乐、文化、官方、官方号、XX报、网络、影视、科技、财经等；
                </li>
                <li>
                  2）使用政府、媒体名称，如：传媒、新闻、在线、新闻、日报、媒体、电视台、电台、xx办公厅、xx省办事处、驻京办、栏目等；
                </li>
              </ul>
          </div>
      </div>
  </body>
  <script type="text/javascript">
  </script>
  </html>
