	/*
	*/
	body,html {
		min-width: 0 !important;
	}
	.firstpage,
	.writeartical,
	.homepage,
	.singlestatistics,
	.fansnumber,
	.interactivemessage,
	.mymaterial,
	.reviewsmanager,
	.accountseting,
	.articalcomments {
		width: 1100px !important;
		margin: 0 auto !important;
	}
	.header .top_first {
		margin-left:0 !important;
	}
	.container {
		padding-left:0 !important;
	}
